*{
    margin: 0 ;
}

.heading{
    display: flex;
    height: 50px;
    margin-top: 10px;
   }

.navTag{
    list-style: none;
    margin:1% 4%;
    letter-spacing: 5px;
}

.navTags{
    list-style: none;
    margin:2% 15%;
}

.section{
    position: relative;
    margin: 0%;
}

.middlesection{
    width: 27%;
    padding: 40px;
    position: absolute;
    bottom: 220px;
    margin: 50px;
  color: white;
    background-color: #d07872bb
}

.middleheading{
  font-size: 40px;
  margin-bottom: 10px;
}

.blank{
    margin-top: -5px;
    width: 100%;
    height: 50px;
background-image: linear-gradient(80deg, rgb(231, 103, 199), pink , orange );
}

.footer{
    margin-top: 10px;
    background-image: linear-gradient(80deg, #ff7fae, #ff9996 , #ffb47e, #ffd75f );
     height: 500px;
}

.footerheading{
    color: white;
    text-align: center;
    letter-spacing: 5px;
    font-size: 40px;
    margin-bottom: 20px;
}

.footersection{
    display: flex;
    justify-content: center;
}

.burgerdiv, .pizzadiv, .pastadiv{
 width: 15%;
 height: 280px;
 padding: 20px;
 border: 1px solid white;
 background-color: white;
 margin: 40px;
 border-top-right-radius: 55px;
 border-bottom-left-radius: 55px;
}

.burger, .pizza, .pasta{
    border-top-right-radius: 55px;
}

.head{
    text-align: center;
    font-size: 18px;
    margin: 3%;
}

.paragraph{
    text-align: center;
    font-size: 15px;
}

@media screen and (max-width: 1262px){
   
    .footer{
     height: auto;
    }

    .navTags{
        display: none;
    }

    .burger, .pizza, .pasta{
width: 100%;
    }

    .footersection{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .burgerdiv, .pizzadiv, .pastadiv{
        width: auto;
    }
} 

@media screen and (max-width:964px){
     .navTag{
        margin: 3%;
        letter-spacing: 0px;
    }
} 

@media screen and (max-width:540px){
    .navTag{
       margin: 1%;
       letter-spacing: 0px;
   }
   .middlesection{
    width: auto;
    padding: 10px;
    margin: 20px;
 
}
}